name: Deploy React App to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3
        
      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"
          
      - name: Instalar dependências
        run: npm install
        
      - name: Build do React
        run: npm run build
        
      - name: Login no Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Deploy para Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'barbearia-barbanegra'  # Substitua pelo nome do seu Web App
          package: './dist'